<h1>Login</h1>

<form action="/login" method="post">
	Email: <input type="text" name="email" placeholder="example@email.com"> <br>
	Password: <input type="password" name="password" placeholder="*****"> <br>
	<input type="submit">
</form>

<a href="/auth/facebook"><button>Login with Facebook</button></a>